.App {
  text-align: center;
}



.App-header {
  background-color: blue;  
  font-size: 1.75em;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-intro {
  font-size: large;
}
.App-smurf {
  margin: 0 auto;
  width: 75%;
  border: 3px solid magenta;
}
.App-smurf-images {
  margin: 0 auto;
  width: 75%;
  /* border: 2px solid blue */
}
.input-section {
  margin: 0 auto;
  width: 75%;
  padding: 20px;
  border: 2px solid blue;
  border-radius: 10px;
}

.smurf-info {
  color: blue;
}
h2{
  color: blue;
}


